$primary: #00bcd4;

$font-light: #fff;
$font-dark: #000;
$font-gray: #778;

$border-light: #fff;
$border-grey-light: #a7a7a7;
$border-grey: #444444;

$background-light: #fff;
$background-grey-light: #eee;
$background-grey: #a7a7a7;
$background-grey-dark: #363636;
$background-dark: #00adff;
$background-dark-absolute: #000;

$success: #69af00;
