.cameras {
	h2 {
		color: $font-gray;
	}
}
.list-cameras {
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	.camera-card{
		margin:  15px;
		width: 20%;
		.content-camera-card{
			font-size: 14px;
			color: $font-dark-gray;
		}
		.img-camera-card{
			display:flex;
			width: 100%;
			height: 200px;
			overflow: hidden;
			img{
				width: 100%;
				object-fit: cover;
			}
		}
	}
}
