.summary-cart{
    padding: 20px;
}

.img-table{
    width: 200px;
}
.cell-number{
    p{
        font-weight:bold;
    font-size: 18px; 
    }
       
}

.price td{
    color: black;
    font-weight: bold;
}